server {
    listen [::]:80;
    listen 80;

    server_name {{ server_host }};
    server_tokens off;

    # Redirect http to https
    location / {
        return 301 https://$host$request_uri;
    }
}

server {
    listen [::]:443 ssl;
    listen 443 ssl;

    server_name {{ server_host }};

    ssl_certificate     /etc/letsencrypt/live/{{ server_host }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ server_host }}/privkey.pem;

    include /etc/ldap-account-manager/nginx.conf;

    location /lam {
        allow 146.102.0.0/16;
        # deny all;
    }

    location / {
        proxy_pass http://127.0.0.1:3000/;
        proxy_redirect default;
    }
}