<VirtualHost *:80>
    ServerAdmin {{ email }}
    ServerName {{ server_host }}

    # TODO: Redirect to https
</VirtualHost>

<VirtualHost *:433>
    ServerAdmin {{ email }}
    ServerName {{ server_host }}

    DocumentRoot /var/www/{{ server_host }}

    ErrorLog ${APACHE_LOG_DIR}/error.log
    CustomLog ${APACHE_LOG_DIR}/access.log combined

    SSLEngine on

    SSLCertificateFile /etc/letsencrypt/live/bis-ansible-1.vrba.dev/fullchain.pem
    SSLCertificateKeyFile /etc/letsencrypt/live/bis-ansible-1.vrba.dev/privkey.pem

    Include /etc/letsencrypt/options-ssl-apache.conf
</VirtualHost>