SSLStaplingCache shmcb:/tmp/stapling_cache(128000)

<VirtualHost *:80>
    ServerAdmin {{ email }}
    ServerName {{ server_host }}

    Redirect permanent / https://{{ server_host }}/
</VirtualHost>

<VirtualHost *:433>
    ServerAdmin {{ email }}
    ServerName {{ server_host }}

    ErrorLog ${APACHE_LOG_DIR}/error.log
    CustomLog ${APACHE_LOG_DIR}/access.log combined

    Protocols h2 http/1.1

    SSLEngine on

    SSLCertificateFile /etc/letsencrypt/live/bis-ansible-1.vrba.dev/fullchain.pem
    SSLCertificateKeyFile /etc/letsencrypt/live/bis-ansible-1.vrba.dev/privkey.pem

    SSLUseStapling on

    # TODO: Security headers

    Include /etc/letsencrypt/options-ssl-apache.conf

    <Location /lam>
        ProxyRequests off
        ProxyPreserveHost On
        ProxyPass /lam "http://{{ server_host }}:4000/lam/
        ProxyPassReverse /lam "http://{{ server_host }}:4000/lam/

        Order allow, deny
    
        # TODO: Limit access
    </Location>

    ProxyRequests off
    ProxyPreserveHost On
    ProxyPass / "http://{{ server_host }}:3000/
    ProxyPassReverse / "http://{{ server_host }}:3000/
</VirtualHost>