<VirtualHost *:80>
    ServerAdmin {{ email }}
    ServerName {{ server_host }}

    # TODO: Redirect to https
</VirtualHost>

<VirtualHost *:433>
    ServerAdmin {{ email }}
    ServerName {{ server_host }}

    DocumentRoot /var/www/{{ server_host }}

    ErrorLog ${APACHE_LOG_DIR}/error.log
</VirtualHost>